.txt-light {
  color: white;
}

/*
   .LEFT-COLUMN and .RIGHT-COLUMN

   The two main columns, menu and active section
*/
.row-fluid [class*="span"].right-column {
  margin-bottom: 30px;
}

/*
  .TRACK-LIST

  Generic track list, with cover images and all.
*/

.track-list > .tracks .track-controls > .track-play-icon {
  width: 20px;
  height: 20px;
}

.track-list > .tracks .track-controls > .more {
  display: none;
  position: absolute;
  background-color: white;
  padding: 3px;
  border: 1px solid #ddd;
}
.track-list > .tracks .track-controls:hover > .more {
  display: block;
}
.track-list > .tracks .track-controls > .more > .buttons {
  display: inline-block;
}
.track-list > .tracks .track-controls > .more > .buttons > .btn {
  width: 138px;
  display: block;
}
.track-list > .tracks .track-controls > .more > img {
  width: 52px;
  height: 52px;
  vertical-align: top;
}
/*
  #SPLASH-CONTAINER

  The splash page.

  Path: div#app
*/

#splash-container {
  padding: 0;
  overflow: hidden;
}

#splash-container > .copy {
  position: absolute;
  width: 560px;
  top: 30%;
  left: 50%;
  margin-left: -300px;
  text-align: center;
  opacity: 0.9;
  z-index: 3;
}

#splash-container > .copy .sc-connect {
  cursor: pointer;
}

#splash-container > .grid {
  width: 120%;
  height: 120%;
  margin-left: -10%;
  margin-top: -10%;
  background-image: url('../img/grid.png');
  background-color: black;
  line-height: 0;
}

#splash-container > .grid > .cell {
  width: 150px;
  height: 150px;
  margin: 0;
  display: inline-block;
  opacity: 0.5;
  background-color: black;
} 

/*
  #SIDENAV

  Main navigation menu.
  "Strongly inspired" by the bootstrap documentation's sidenav.

*/

#sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

#sidenav > li > a > .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

/*
  .QUEUE

  The play queue
*/



/*
  #PLAYER-CONTROLS

  Play/pause, next buttons.

  Path: div#app > div.container-fluid > div.navbar > div.navbar-inner
*/

#player-controls > .btn-group {
  margin-top: 6px;
}

#player-controls > .btn-group > .btn:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

#player-controls > .btn-group > .btn:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
/*
  .TRACK-INFO

  Track information, used both in the queue and the player
*/
.track-info {
  margin-top: 5px;
  height: 39px;
  display: inline-block;
}

.queued-track-info.track-info > .info-text {
  width: 160px;
}

.track-info > .info-text {
  display: inline-block;
  font-size: 12px;
  color: #eee;
  line-height: 12px;
  overflow: hidden;
  white-space: nowrap;
}

.track-info > .info-img{
  width: 30px;
  height: 30px;
  vertical-align: top;
}

/*
  #CURRENT-TRACK-WAVE
    
  Soundcloud track wave visualization, also acts as track control
*/
#current-track-wave {
  height: 30px;
  overflow: hidden;
  margin-top: 6px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

#current-track-wave > img.waveform,
#current-track-wave > div.cursor,
#current-track-wave > div.portion-loaded,
#current-track-wave > div.portion-played {
  position: relative;
  height: 30px;
}

#current-track-wave > div.portion-loaded {
  background-color: #777;
  width: 0;
  z-index: 10301;
}

#current-track-wave > div.portion-played {
  border-right: 1px solid #f00;
  background-color: #333;
  width: 0;
  z-index: 10302;
  top: -30px;
}

#current-track-wave > div.cursor {
  opacity: 0;
  background-color: #f00;
  width: 2px;
  z-index: 10303;
  top: -60px;
}

#current-track-wave > img.waveform {
  width: 100%;
  z-index: 10304;
  top: -90px;
}
