<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/underscore.min.js"></script>
  <script type="text/javascript" src="js/backbone.min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
<div id="app">
</div>
<!--START TEMPLATES--><script type='text/template' id='splash'>
                      <div class="container-fluid" id="splash-container">
  <div class="copy txt-light">
    <h1>
      <span="normal">neuz is noises</span>
    </h1>
    <p>
      Discover, listen and share like never before.
    </p>
    <p>
      <img class="sc-connect" src="img/sc-connect.png" />
    </p>
  </div>
  <div class="grid">
  </div>
</div>

                      </script><script type='text/template' id='player'>
                      <div class="span2 track-info" id="current-track-info">
<% if (track) { %>
  <div class="info-text">
    <div class="title">
      <div class="fulltext">
        <%=track.title%>
      </div>
    </div>
    <div class="user">
      <div class="fulltext">
        <%=track.user.username%>
      </div>
    </div>
    <div class="playtime">
      <span class="elapsed">0:00</span> /
      <span class="total"><%=helpers.prettyRuntime(track.duration)%></span>
    </div>
  </div>
  <img class="info-img" src="<%=track.artwork_url || track.user.avatar_url%>" />
<% } %>
</div>
<div class="span2" id="player-controls">
  <div class="btn-group">
    <button class="btn btn-inverse play-pause" data-status="paused">
      <i class="icon-play icon-white"></i>
    </button>
    <button class="btn btn-inverse">
      <i class="icon-chevron-right icon-white next"></i>
    </button>
  </div>
</div>
<div class="span8" id="current-track-wave">
<% if (track) { %>
  <div class="portion-loaded"></div>
  <div class="portion-played"></div>
  <div class="cursor"></div>
  <img class="waveform" src="<%=track.waveform_url%>" />
<% } %>
</div>

                      </script><script type='text/template' id='tracks-collection'>
                      <table class="track-list table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody class="tracks">
  </tbody>
</table>

                      </script><script type='text/template' id='track'>
                      <tr data-track-id="<%=id%>">
  <td>
    <div class="track-controls">
      <div class="play-now track-icons icon-play"></div>
      <div class="add-to-queue track-icons icon-plus-sign"></div>
      <img class="list-cover" src="<%=artwork_url || user.avatar_url%>" />
    </div>
  </td>
  <td>
    <%=title%>
  </td>
  <td>
    <a href="#!user/<%=user.id%>"><%=user.username%></a>
  </td>
  <td>
    <%=helpers.prettyRuntime(duration)%>
  </td>
</tr>

                      </script><script type='text/template' id='main'>
                      <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 left-column">
      <ul class="nav nav-list" id="sidenav">
        <li class="<%=(active == "home") ? 'active' : ''%>">
          <a href="#" data-section="home">
            <i class="icon-chevron-right"></i>
            Home
          </a>
        </li>
        <li class="<%=(active == "search") ? 'active' : ''%>">
          <a href="#" data-section="search">
            <i class="icon-chevron-right"></i>
            Search
          </a>
        </li>
        <li class="<%=(active == "now-playing") ? 'active' : ''%>">
          <a href="#" data-section="now-playing">
            <i class="icon-chevron-right"></i>
            Now playing
          </a>
        </li>
        <li class="<%=(active == "playlists") ? 'active' : ''%>">
          <a href="#" data-section="playlists">
            <i class="icon-chevron-right"></i>
            Playlists
          </a>
        </li>
      </ul>
    </div>
    <div class="span9 right-column" id="section">
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="row-fluid player">
      </div>
      <div class="row-fluid queue">
      </div>
    </div>
  </div>
</div>

                      </script><script type='text/template' id='queue'>
                      <div class="span12 queue-container">
<% _.each(tracks, function(track) { %>
  <div class="queued-track-info track-info<%=(current == track.id)? " current" : ""%>">
    <div class="info-text">
      <div class="title">
        <div class="fulltext">
          <%=track.title%>
        </div>
      </div>
      <div class="user">
        <div class="fulltext">
          <%=track.user.username%>
        </div>
      </div>
      <div class="playtime">
        <span class="total"><%=helpers.prettyRuntime(track.duration)%></span>
      </div>
    </div>
    <img class="info-img" src="<%=track.artwork_url || track.user.avatar_url%>" />
  </div>
<% }) %>
</div> 

                      </script><script type='text/template' id='user'>
                      <div class="row-fluid">
  <div class="span1">
    <img src="<%=user.avatar_url%>" />
  </div>
  <div class="span9">
    <h1><%=user.username%></h1>
    <div><%=user.description%></div>
  </div>
</div>

                      </script><script type='text/template' id='search'>
                      <form class="navbar-search">
  <input type="text" class="search-query" placeholder="Search">
</form>
<div class="results">

</div>

                      </script><!--END TEMPLATES-->
</body>
</html>
