<li class="<%=(active == "home") ? 'active' : ''%>">
  <a href="#" data-section="home">
    <i class="icon-chevron-right"></i>
    Home
  </a>
</li>
<li class="<%=(active == "search") ? 'active' : ''%>">
  <a href="#" data-section="search">
    <i class="icon-chevron-right"></i>
    Search
  </a>
</li>
<li class="<%=(active == "now-playing") ? 'active' : ''%>">
  <a href="#" data-section="now-playing">
    <i class="icon-chevron-right"></i>
    Now playing
  </a>
</li>
<li class="<%=(active == "playlists") ? 'active' : ''%>">
  <a href="#" data-section="playlists">
    <i class="icon-chevron-right"></i>
    Playlists
  </a>
</li>

